.table-container {
    width: 100%;
    height: 400px;
    overflow: auto;
  }

  table {
    width: 100%;
  }

  .grid-container {
    margin: 20px;
  }
  
  .dashboard-card {
    position: absolute;
    
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
  }

  .dashboard-table-card {
    padding: 0px;
  }
  
  .more-button {
    position: absolute;
    top: 5px;
    right: 10px;
  }
  
  .dashboard-card-content {
    text-align: left;
  }

  mat-slider {
    width: 100%;
  }
