<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>FIlters</mat-toolbar>
    <app-filters></app-filters>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-products></app-products>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
  